/* Reused colours */
/*$light_blue: #26518A */
/* Widths */
/* Reset */
* {
  font-weight: normal;
  font-size: 1em;
//  line-height: 1;
  padding: 0;
  margin: 0; }

/* Body and base */
body {
  background-color: white;
  background-position: center top;
  /*:image url(/images/layout/background.jpg) */
//  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
font-family: Helvetica, "DejaVu Sans", "Verdana";
  font-size: 80%;
  color: black; }

/* Layout */
#heading {
  background: top center no-repeat url(/images/layout/header-bkg.gif);
  /*:height 216px */
  width: 100%; }
  #heading a {
    background: 23px 108px no-repeat url(/images/header-animation.gif);
    margin: 0 auto;
    width: 961px;
    height: 100%;
    display: block;
    /* hide text */
    text-indent: -1000em;
    letter-spacing: -1000em; }

#navigation {
  padding: 0.5em 30px;
  width: 901px;
  float: left; }

#content {
  /*:background left top no-repeat url(/images/layout/content-bkg.gif) */
  margin: 0 auto;
  width: 961px; }

#footer {
  width: 961px;
  clear: both; }

/* Content */
#content h1#page-title {
  background: #1a365c;
  font-size: 2.2em;
  text-indent: 30px;
  padding: 0.5em 0;
  margin-bottom: 30px;
  width: 100%;
  float: left; }
#content h2 {
  font-weight: bold;
  font-size: 1.6em;
  color: #69b5ff;
  margin-bottom: 0.2em; }

#content h1 {
  font-weight: bold;
  font-size: 1.6em;
  color: #69b5ff;
  margin-bottom: 0.2em; }

#content h3 {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0.25em; }
#content p {
  line-height: 1.3;
  margin-bottom: 1.3em; }
#content a:link {
  color: #69b5ff; }
#content a:visited {
  color: black; }

.entry {
 // font-size: 1.1em;
  margin-bottom: 10px; 

}
.even, .odd {
  margin-bottom: 20px; }

/* Blocks */
#content .block {
  /*:background-color $mid_blue */
  -webkit-border-radius: 4px; }
  #content .block h2 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #152c4c;
    font-weight: bold;
    color: black; }

/* Navigation */
#navigation {
  background: #1e252e; }
  #navigation li {
    list-style-type: none; }
  #navigation li, #navigation a {
    float: left; }
  #navigation a {
    background: transparent -250px 0 no-repeat url(/images/navigation-hover.gif);
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none !important;
    color: white !important;
    padding: 0.65em 1.2em;
    -webkit-border-radius: 4px; }
  #navigation a.current {
    background: #171819; }
  #navigation a:hover {
    background-color: transparent !important; }

/* Footer */
#footer {
  background: #1a365c;
  padding: 5px;
  /*:height 10em */
  position: relative; }
  #footer p {
    font-size: 0.85em;
    color: #5e728d;
    text-align: center;
    /*:margin 0 */
    bottom: 0px;
    /*:position absolute */
    /*:left $margin */ }

/* Home */
#home #page-title {
  position: absolute;
  left: -1000em; }
#home #content {
  position: relative; }
#home #twitter-feed {
  margin-top: 30px;
  width: 270px;
  position: absolute;
  top: 3em;
  right: 29px; }
  #home #twitter-feed #tweet {
    background: left top no-repeat url(/images/tweet-bkg.gif);
    font-size: 1.2em;
    padding: 10px 15px 2px 39px;
    margin: 0;
    color: white; }
  #home #twitter-feed #tweet-time {
    background: 0 -293px no-repeat url(/images/tweet-bkg.gif);
    font-size: 0.9em;
    color: #738094;
    padding: 13px 0 0 39px; }
#home #blurb,
#home #more-info {
  margin-left: 30px;
  float: left;
  clear: both; }
#home #blurb {
  font-size: 1.5em;
  line-height: 1.4;
  padding-right: 480px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: -15px;
  width: 451px;
  overflow: hidden; }
#home #more-info {
  font-size: 1.1em;
  margin-bottom: 40px; }
#home #panel {
  /*:background-image url(/images/layout/splitter.gif) */
  background-repeat: repeat-y;
  background-position: 510px 0;
  padding-bottom: 1em;
  margin-left: 0px;
  margin-bottom: 30px;
  width: 902px;
  float: left;
  clear: both; }
  #home #panel h2 {
    border: 0;
    color: #69b5ff;
    margin-top: 0.8em;
    margin-bottom: 0.8em; }
#home #latest-updates {
  padding-left: 30px;
  width: 600px;
  float: left; }
  #home #latest-updates p {
    font-size: 1.1em; }
#home #learning-help {
  padding-right: 0px;
  width: 220px;
  float: right; }
  #home #learning-help h2 {
    padding-left: 5px; }
  #home #learning-help li {
    background: left top no-repeat;
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 1em; }
  #home #learning-help h3 {
    font-size: 1.05em; }
  #home #learning-help p {
    font-size: 1em;
    margin: 0; }
#home #learning-documentation {
  /*:background-image url(/images/icon/documentation.gif) !important */ }
#home #learning-bugs {
  /*:background-image url(/images/icon/bugs.gif) !important */ }
#home #learning-getting-help {
  /*:background-image url(/images/icon/community.gif) !important */ }
